{% set oom_cmd = "choom -n " + mozilla_firefox_oom_score|string + " -- " + mozilla_firefox_dest + "/firefox/firefox" %}
[Desktop Entry]
Name=Firefox OPT
Comment=Browse the World Wide Web
GenericName=Web Browser
X-GNOME-FullName=Firefox OPT Web Browser
Exec={{ oom_cmd }} %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon={{ mozilla_firefox_dest }}/firefox/browser/chrome/icons/default/default128.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox
StartupNotify=true
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec={{ oom_cmd }} --new-window

[Desktop Action new-private-window]
Name=New Private Window
Exec={{ oom_cmd }} --private-window
